
body {
    background-color: rgba(74, 4, 50, 0.75);
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

header {
    color: #F5F5F5;
}

.container {
    overflow: hidden;
    float: right;
    text-align: right;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 0px;

    @media (min-width: 1024px) {
      .container {
        padding-left: 64px;
        padding-right: 64px;
    }}

    @media (min-width: 768px) and (max-width: 1024px) {
      .container {
        padding-left: 64px;
        padding-right: 64px;
    }}

    @media (max-width: 768px) {
      .container {
        padding-left: 32px;
        padding-right: 32px;
    }}
}

.container {
    list-style-type: none;
    align-items: flex-start;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    padding: 1.25rem 0;
}

li a {
    font-size: 16px;
    color: #F5F5F5;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 10px;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
   
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #F5F5F5;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-7px, 5px);
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-7px, -6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    text-align: right;
    display: block;
    z-index: 98;
    background-color:rgba(74, 4, 50, 0.75);
    padding-top: 120px;
    transition: 0.4s;
    }

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: rgb(74, 4, 50);

    color: #F5F5F5;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color:rgb(74, 4, 50);
    color: #d5cdcc;
}

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }
  * {
    box-sizing: border-box;
  }
   /* Center website */
   .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height:33.33%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #806460;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #806460;
    color:#5e4a46;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #d5cdcc;
    color:#5e4a46;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color:#d5cdcc;
     color: #806460;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type="submit"] {
    background-color: #1cbdc6;
    color: #F5F5F5;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #1cbdc6;
  }
  
  /* Add a background color and some padding around the form */
  .container2 {
    border-radius: 5px;
    background-color:  rgb(74, 4, 50, 0.7);
    padding: 20px;
  }
  
  .sub {
    float: right;
    display: block;
  }

  .hreff {
    color: #806460;
  }
  
  a:link {
    color: #F5F5F5;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #F5F5F5;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #1cbdc6;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #806460;
    background-color: transparent;
    text-decoration: underline;
  }


/* CSS for the footer links */
.left-link, .right-link {
display: inline-block; /* Display the links side by side */
margin: 0; /* Remove any margin to ensure they align properly */
padding-left: 16rem;
}

/* Add some spacing between the links */
.left-link {
margin-right: 16rem;
}

@media all and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }

    li {
        display: block;
        text-align: center;
        padding: 1.5rem 0;
    }

    li a {
        font-size: 1.4rem;
    }
    
}
.responsive {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}